---
import dayjs from 'dayjs';
import Base from '@/layouts/base.astro';
import getPostsByYear from '@/utils/getPostsByYear';
import {sortPostsByDate} from '@/utils/sortPostsByDate';
import Pagination from '@/components/Pagination.astro';
import {getCollectionByName} from '@/utils/getCollectionByName';
import _ from 'lodash';
import { site } from '@/consts';

const posts = await getCollectionByName('blog');
const totalPage = _.ceil(_.divide(posts.length, site.archivePageSize));

let sortedPosts = sortPostsByDate(posts);
sortedPosts = sortedPosts.splice(0, site.archivePageSize);

const resultPosts = getPostsByYear(sortedPosts);
---

<Base>
  {
    Object.keys(resultPosts)
      .sort((a, b) => Number(b) - Number(a))
      .map((year) => (
        <div>
          <div class="text-2xl font-extrabold my-4">{year}</div>
          <ul>
            {resultPosts[year].map((post) => (
              <li style="list-style-type: disc;" class="ml-4 my-2">
                <a href={'/posts/' + post.slug}>
                  <span class="mr-4">
                    {dayjs(post.data.date).format("YYYY-MM-DD")}
                  </span>
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
  }
  <Pagination currentPage={1} totalPage={totalPage} prefixUrl="/arquivo/"/>
</Base>
