---
import { getCollection, type CollectionEntry } from 'astro:content';
import { getCollectionByName } from '@/utils/getCollectionByName';
import BlogPost from '@/layouts/BlogPost.astro'
import PostTitle from '@/components/PostTitle.astro';
import BlogFooter from '@/components/BlogFooter.astro';
import ViewCounter from '@/components/ViewCounter.astro';
import Donate from '@/components/Donate.astro'
import { sortPostsByDate } from '@/utils/sortPostsByDate';
import { donate } from '@/consts';

export async function getStaticPaths() {
  const blogEntries = (await getCollection('blog')).filter(({data}) => {
    return import.meta.env.PROD ? !data.draft : true
  });

  return blogEntries.map((entry: { slug: string; }) => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

// import { CollectionEntry, getCollection } from 'astro:content';

const posts = await getCollection('blog');
type Props = CollectionEntry<'blog'>;

const { slug } = Astro.params;

const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");



// const { entry, slug }: { entry: CollectionEntry<'blog'>, slug: string } = Astro.props;
// const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();

const lastModified = remarkPluginFrontmatter.lastModified
const readingTime = remarkPluginFrontmatter.readingTime

// const posts = await getCollectionByName("blog");
const sortPosts = sortPostsByDate(posts);

const currentPostIndex = sortPosts.findIndex(
  (postItem: { data: { title: string; }; }) => postItem.data.title === post.data.title
);

let prevPost: typeof sortPosts[0] | undefined;
let nextPost: typeof sortPosts[0] | undefined;

if (sortPosts[currentPostIndex - 1]) {
  prevPost = sortPosts[currentPostIndex - 1];
}

if (sortPosts[currentPostIndex + 1]) {
  nextPost = sortPosts[currentPostIndex + 1];
}
---
<BlogPost frontmatter={post.data}>
  <div>
    <PostTitle slug={`/posts/${post.slug}`} {...post.data} lastModified={lastModified} readingTime={readingTime}></PostTitle>
    <div class="divider-horizontal"></div>
    <article class="markdown-body">
      <Content/>
    </article>
    <div class="divider-horizontal"></div>
    <div class="h-8 text-skin-base">
      {
        prevPost ? (
          <a
            class="truncate  w-auto max-w-[40%] float-left"
            href={'/posts/' + prevPost.slug}
            title={prevPost.data.title}
          >
            <i class="ri-arrow-left-s-fill"/>
            {prevPost.data.title}
          </a>
        ) : (
          <div/>
        )
      }
      {
        nextPost ? (
          <div class="flex item-center float-right w-auto max-w-[40%] text-right">
            <a class="truncate " href={'/posts/' + nextPost.slug} title={nextPost.data.title}>
              {nextPost.data.title}
            </a>
            <i class="ri-arrow-right-s-fill float-right"/>
          </div>
        ) : (
          <div/>
        )
      }
    </div>
    <BlogFooter title={post.data.title} url={'posts/' + post.slug} date={post.data.date}></BlogFooter>
    {
      donate.enable && post.data.donate &&
      <Donate></Donate>
    }
  </div>

</BlogPost>
