---
import '@/styles/main.scss';
import { ViewTransitions } from 'astro:transitions';
import { site } from '@/consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = site.title, description = site.desc } = Astro.props;
---

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <meta name="generator" content={Astro.generator}/>
  <link rel="canonical" href={canonicalURL}/>
  <meta name="title" content={title}/>
  <meta name="description" content={description}/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content={Astro.url}/>
  <meta property="og:title" content={title}/>
  <meta property="og:description" content={description}/>
  <meta property="og:image" content={new URL('/images/ogp.png', Astro.site?.href).href} />
  <meta property="og:image:alt" content={site.desc}/>
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content={Astro.url}/>
  <meta property="twitter:title" content={title}/>
  <meta property="twitter:description" content={description}/>
  <meta property="twitter:image" content={new URL('/images/ogp.png', Astro.site?.href).href} />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="msapplication-TileColor" content="#da532c"/>
  <meta name="msapplication-config" content="/browserconfig.xml"/>
  <meta name="theme-color" content="#ffffff"/>
  <title>{title}</title>
  <!-- <link rel="preload" href="/fonts/nunito/Nunito.woff2" as="font" type="font/woff2" crossorigin /> -->
  <ViewTransitions />
</head>